/******************************************************/
/*********** DARK STYLES ******************************/
/******************************************************/
.dark {
    .brackets-esp-hints {
        &.control {
            font-style: italic;
            color: turquoise;
        }
        
        &.builtin {
            font-weight: bold;
            color: white;   
        }
    }
}