<div id="remote-editor-panel" class="remote-editor bottom-panel vert-resizable no-focus">
	<div class="toolbar simple-toolbar-layout mainToolbar">

		<!-- on left -->
		<input type="checkbox" class="check-all file-available" />
		<div class="btn-group file-available">
			<button title="{{ADD_FILE}}"    class="btn small add-file"><i class="octicon octicon-diff-added"></i></button>
			<button title="{{REMOVE_FILE}}" class="btn small remove-file"><i class="octicon octicon-trashcan"></i></button>
		</div>

		<a hrel="#" class="close">&times;</a>
	</div>
	<div class="table-container resizable-content">
		<div id="file-table">There is no information</div>
	</div>
</div>
